
* {
  user-select: none;
}

body {
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 16px;
  font-family: Inter, sans-serif;
}

.label {
  color: #444;
}

.space {
  margin: 10px 0 0 7px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.ui {
  padding: 0px 10px 0px 10px;
  height: 100%;
  width: 98%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.input
{
  width: 60px !important;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
  display: flex;
}

.slidecontainer div {
  flex: 1;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 5px;
}
