body {
  margin: 0;
  padding: 5px 10px 16px 10px;
  outline: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

.label {
  color: #444;
}

.space {
  margin: 10px 0 0 7px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.input
{
  width: 60px !important;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
  display: flex;
}

.slidecontainer div {
  flex: 1;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
